body {
    background: linear-gradient(#a36a15, #9ca226);
    color: #eef3f7;
    text-shadow: 3px 3px 5px #284661;
}

#pfp {
    width: 30%;
    display: block;
    margin: auto;
    border-left: 10px solid #284661;
    border-bottom: 7px solid #284661;
}

.text {
    text-align: center;
    font-family: 'Roboto Mono', serif;
}

.giftbox-img-div {
    background-image: url("./giftbox.jpg");
    height: 410px;
    width: 370px;
    background-size: cover;
    margin: auto;
    
}

#box1:hover {
    background-image: url("https://media.giphy.com/media/TdfyKrN7HGTIY/giphy.gif");
    background-position: center;
}

#box2:hover {
    background-image: url("https://media.giphy.com/media/2ce87dKUgxx4sgqv32/giphy.gif");
    background-position: center ;
}

#box3:hover {
    background-image: url("https://media.giphy.com/media/gSklcHgtrjdEA/giphy.gif");
    background-position: center ;
}

#box4:hover {
    background-image: url("https://media.giphy.com/media/3owypavJobV7Lo8vZu/giphy.gif");
    background-position: center ;
}

#box5:hover {
    background-image: url("https://media.giphy.com/media/3o7abGQa0aRJUurpII/giphy.gif");
    background-position: center ;
}
